# Ignore extensionless files (e.g. builds outside of ordinary build system).
*
!/**/
!*.*

# No builds and objects
/bin
/obj
*.[oa]

# No backup files created by some editors
*~

# No extra Code::Blocks project files
*.depend
*.layout
